/*Padding 0 -H*//*W*/
h1 h2 h3 h4 h5 h6{
	padding:0;
	margin: 0;
}
a {
	text-decoration: none;
	color: white;
}
/*UTILCLASS*/
.pd-t-b-4{
	padding-top:4%;
	padding-bottom:4%;
}
/*.d-ib{
	display: inline-block;
}*/
.f-left{
	float: left;
    margin: 2%;
}
/*colores*//*w*/
.bckg-jade{
	background-color:#2ECC71;
	color:white;
}
.bckg-dark-blue{
	background-color: #34495E;	
}
.bckg-very-dark-blue{
	background-color:#2C3E50;
}
.bckg-silver-light{
	background: #F5F5F5;
}
/*Navbar*/
.navbar{
	background-color: #34495E;
	padding: 1% 0;
	margin-bottom: 0;
	border-radius: 0;
}
.nav{
	float: right;
	margin-top: 1%;
	background-color: #34495E;
}
.nav a{
	color: white;
}
.nav-pills>li>a:hover{
	background-color: #2C3E50;
}
.nav-pills>li.active>a{
	background-color: #2C3E50;
}
/*Footer*//*w*/
footer{
	color:white;
}
footer ul {
    list-style: none;
    position: relative;
    left: -38px;
}
.footer-parragraph{
	font-size:80%;
}
.latest-blogs{
	margin: 1%;
}
.post{
	padding:2%;
}
.navigation-links{
	float: right;
}