@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.carousel{
	position: relative;	
}
.text-top{
    position: absolute;
    top: 31%;
    left: 6%;
    color: white;
}
.social-marketing{
	background-color: #2ECC71;
	padding-top: 4%;
	padding-bottom: 4%;
	color: white;
}
.icon{
	color: white;
	font-size: 28px;
	padding: 5%;
	margin-top: 7%;
	border-radius: 50%;
	float: left;
	clear: left;
	background-color: #1C7A44;
	margin-right: 4%;
	margin-bottom: 8%;
}
.fa-facebook{
	padding: 5% 6.5%;
}
.fa-google-plus{
	padding: 5% 4%;
}
@media only screen and (max-width: 500px) {
    .icon {
     	margin-bottom: 4%;  
    }