@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.carousel{
	position: relative;	
}
.text-top{
    position: absolute;
    top: 31%;
    left: 6%;
    color: white;
}
.social-marketing{
	background-color: #2ECC71;
	padding-top: 4%;
	padding-bottom: 4%;
	color: white;
}
.icon{
	color: white;
	font-size: 28px;
	padding: 5%;
	margin-top: 7%;
	border-radius: 50%;
	float: left;
	clear: left;
	background-color: #1C7A44;
	margin-right: 4%;
	margin-bottom: 8%;
}
.fa-facebook{
	padding: 5% 6.5%;
}
.fa-google-plus{
	padding: 5% 4%;
}
.projects{
	background-color: #F5F5F5;
}
.red{
	background-color: #D9534F;
	border: 1px solid #D74C48;
	color: white;
}
.box-white{
	background-color: white;
	padding: 2%;
	text-align: center;
	box-shadow: -1px -1px 10px 0px rgba(50, 50, 50, 0.75);
}
.box-white img{
	width: 100%;
}
.client-say{
	background-color: #E74C3C;
	color: white;
}
.line{
	background-color: white;
	width:1px;
	height: 1px;
	float:left;
	clear: left;
}
.quo{
	float: right;
	clear: right;
	
}
@media only screen and (max-width: 500px) {
    .icon {
     	margin-bottom: 4%;  
    }